@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans',
    sans-serif;
    font-size: 1em;
    font-weight: 300;
}
h1,h2,h3,h4{
    font-family: 'Open Sans',
    sans-serif;
    font-weight: 400;

}
h1{
font-size: 3.2em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
nav {
    background-color: #C12127;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 15px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

nav a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.top-left {
    padding: 0;
    margin: 0 0 0 20px;
}
.top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
}

.top-links li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}

.header{
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(32, 101, 136);
    background-image: url(images/city-scape.svg);
    background-position: right;
    height: 500px;
    padding-top: 15px;
   
    
}
header a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

header img{
    height: 40px;   
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 20px;
}

.logo li{   
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;   
    padding: 0;
 }

.logo form{
    width: 70%;
    height: 25px;
}
#seachb {
    background-color: rgb(31, 82, 111);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    width: 90%;
    height: 35px;
}
 #sbtn {
   background-color: rgb(31, 82, 111);
   border: 0.5px solid rgba(255, 255, 255, 0.3);
   width: 35px;
   height: 35px;
}
.sign-up{
    width: 35%;
    margin: 0 20%; 
}

p {
    margin: 0 auto;
    padding-top: 2em;
}

.sign-up .button1{
    background-color: rgb(240, 146, 51);
    border:1px solid rgb(240, 146, 51);
    display: block;
    padding: 0.5em 2em;
    border-radius: 1.6em;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 1em;
}

#collaboration{
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(39, 53, 71);
    height: 500px;  
}

#collaboration a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

#collaboration .content {
    margin: 0 auto; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center; 
}
#collaboration .collaboration-img {
    width: 35%;
    margin: 0 30px;
}
.collaboration-text{
    display: inline-block;
}

.collaboration-text ul, li {
   padding-top: 1em;
   margin-left: 20px;
   font-size: 1em;
   
}
.button2 {
    background-color: rgb(203, 56, 55);
    border:1px solid rgb(203, 56, 55);
    display: block;
    padding: 0.5em 2em;
    border-radius: 1.6em;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 1em;
}
#install {
 color: rgba(255, 255, 255, 0.8);
 background-color: rgb(32, 101, 136);
 background-image: url(images/forklift.svg);
 background-position: center ;
 height: 500px;
 padding-top: 15px;
}

#install a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
 
  }

.install-box{
  position: relative;
 left:15%;
 top: 20%;
 width:35%;
}
.button3 {
    background-color: rgb(49, 68, 88);
    border: 1px solid rgb(49, 68, 88);
    display: block;
    padding: 0.5em 2em;
    border-radius: 1.6em;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 1em;
}
#whatcan{
    color: rgb(135, 145, 156);
    background-color:rgba(255, 255, 255, 0.8);
    height: 500px;
    padding-top: 40px;
    margin: 0 20px;

    
    
}

#whatcan a {
  color:rgb(208, 74, 73);
  text-decoration: none;
}
#whatcan h3 ,h4{
    color: rgb(83, 88, 98);
    padding-bottom: 10px;
    font-weight: 400;
}
.whatcan-text {
    position: relative;
    text-align: center;
}
.whatcan-box{
    display: flex;
    justify-content: center;
    
     
}
.container{
    padding: 20px;
    text-align: center;
    width: 20%;
}
.container img{
    width: 33%;
    text-align: center;
    padding: 20px 20px 0 20px;

}
.whatcan-text {
    color: rgb(135, 145, 156);

}